<div class='component'>
  <div class='component__main component__main--centerContent'>
    <div class='component_main component__main--groupContent'>
      <div class='main__description'>
        <span class='bigFont bigFont--bold'> Get more free time and improve faster with Skedit </span>
        <br>
        <span class='mediumFont'> Skedit is a schedule editor. You can easily compose your daily practice routine and then display it on configurable dashboard. </span>
      </div>
      <div class='main__form'>
        <app-sign-up-form></app-sign-up-form>
      </div>
    </div>
  </div>
</div>
