<div class='sharedComponent'>
  <div class='sharedComponent__header'>
    <div class='home-link' routerLink='/home'><img class='header__img' src="assets/media/skedit-logo.png" ></div>
    <div class='header__nav'>
      <div class='button' type='button' routerLink='/sign-up'>Sign up</div>
      <div class='button' type='button' routerLink='/sign-in'>Sign in</div>
      <div class='button' type='button' routerLink='/dashboard'>Dashboard</div>
      <div class='button' type='button' routerLink='/composer'>Composer</div>
      <div class='button' type='button' routerLink='/log-out'>Log out</div>
    </div>
  </div>
</div>
